= javascript_include_tag "dashboard", "data-turbolinks-track" => true 

.container
	%h1 Dashboard

	.row
		.col-lg-9
			.jumbotron
				%h1
					Learn
				%p
					Lorem ipsum dolor sit amet
				%p
					%a.btn.btn-primary.btn-lg{ href: "#" }
						Learn
